@import "@abgov/design-tokens/dist/tokens.scss";

$goa-layout-teal-dark: #005072;
$goa-layout-teal: #0081A2;
$goa-layout-teal-light: #C8EEFA;

$goa-layout-gray: #666666;
$goa-layout-gray-dark: #333333;
$goa-layout-gray-mid: #DCDCDC;
$goa-layout-gray-light: #F1F1F1;

$goa-interactive-blue: #0070c4;
$goa-interactive-blue-dark: #004F84;

$goa-status-red: #EC040B;
$goa-status-yellow: #FEBA35;
$goa-status-blue: #005DAA;
$goa-status-green: #007738;

$light-blue: #4db2ff;
$light-red: #ed655e;
$light-gray: #e6e6e6;
$light-green: #5fb971;

$status-green: #86B537;
$status-orange: #EF8031;
$status-red: #ff6666;
$status-gray: #616A71;

$color-blue: #0f76d7;

$spacing-3xs: $goa-space-3xs;
$spacing-2xs: $goa-space-2xs;
$spacing-xs: $goa-space-xs;
$spacing-s: $goa-space-s;
$spacing-m: $goa-space-m;
$spacing-l: $goa-space-l;
$spacing-xl: $goa-space-xl;
$spacing-2xl: $goa-space-2xl;
$spacing-3xl: $goa-space-3xl;
$spacing-4xl: $goa-space-4xl;