.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 35%;
  overflow-y: auto;
  padding: 1rem;
  border-right: 1px solid #ccc;
  background-color: #f9f9f9;
}

.map {
  flex-grow: 1;
  height: 100vh;
}

.card {
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 6px;
}

.title {
  margin: 0;
  color: #0056b3;
}

.filter {
  color: #0056b3;
  font-weight: bold;
}

.links {
  margin-top: 0.5rem;
}
