.page {
  padding: 2rem;
  height: 100%;

  h2 {
    color: #003366;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.1rem;
  }
}

.home {
  h4 {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
}